@model MvcMessageLogger.Models.User

<h1>User Details</h1>

<p>Name: @Model.Name</p>

<p>Username: @Model.Username</p>

<br />

<p><strong>@Model.Name's Messages:</strong></p>
@if (Model.Messages.Any() != false)
{
    foreach (var message in Model.Messages)
    {
        <div>
            <p>
                @message.CreatedAt: @message.Content
            </p>
        </div>
    }
}
else
{
    <p><strong>@Model.Username has not logged any messages yet.</strong></p>
}

<br />

<h2>Add a Message:</h2>

<form method="post" action="/users/@Model.Id">
    <div class="form-group">
        <label for="Content">Content: </label>
        <input type="text" id="Content" name="Content" />
    </div>
    <br />
    <button type="submit">Add Message</button>
</form>